body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-courier-new: "Courier New";
  --font-castellar: Castellar;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-4xl: 23px;
  --font-size-11xl: 30px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-gainsboro: #cfdae0;
  --color-darkslategray: #1f2f22;
  --color-white: #fff;
  --color-darkseagreen: #93a889;

  /* Border radiuses */
  --br-52xl: 71px;
  --br-45xl: 64px;
  --br-42xl: 61px;
  --br-66xl: 85px;
}
