.the-trip-child {
  position: absolute;
  top: 36.04px;
  left: -80.21px;
  width: 2080.4px;
  height: 2573px;
}
.screenshot-2024-11-05-130308 {
  position: absolute;
  top: 94px;
  left: 66px;
  border-radius: var(--br-31xl);
  width: 920px;
  height: 521px;
  object-fit: cover;
}
.the-trip1 {
  position: absolute;
  top: 390.82px;
  right: 128.89px;
  font-size: var(--font-size-81xl);
  color: var(--color-darkseagreen);
  display: inline-block;
  width: 931px;
  transform: rotate(1deg);
}
.the-trip-inner,
.the-trip-item {
  position: absolute;
  left: 66px;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightgray);
  width: 1781px;
}
.the-trip-item {
  top: 682px;
  height: 1118px;
}
.the-trip-inner {
  bottom: 211px;
  height: 558px;
}
.script-for-shooting,
.script-for-shooting1 {
  position: absolute;
  top: 746px;
  left: 255px;
  font-size: var(--font-size-31xl);
  display: inline-block;
  width: 1487px;
}
.script-for-shooting1 {
  top: 1892px;
}
.blank-line {
  margin: 0;
}
.serializefield-private-gameob {
  margin: 0;
  white-space: pre-wrap;
}
.serializefield-private-gameob-container {
  top: 832px;
  left: 130px;
  width: 991px;
  height: 919px;
}
.instantiateasteroids1-new-ve-container,
.serializefield-private-gameob-container,
.serializefield-private-transf-container {
  position: absolute;
  font-family: var(--font-courier-new);
  text-align: left;
  display: inline-block;
}
.serializefield-private-transf-container {
  bottom: 188px;
  left: 228px;
  width: 1465px;
  height: 430px;
}
.instantiateasteroids1-new-ve-container {
  top: 832px;
  right: 12px;
  width: 991px;
  height: 968px;
}
.path-18-icon {
  position: absolute;
  top: 817.39px;
  left: 887.07px;
  width: 10px;
  height: 923.5px;
}
.icon-akar-cross {
  position: absolute;
  top: 43px;
  right: 35.9px;
  width: 112.1px;
  height: 112.1px;
  cursor: pointer;
}
.the-trip {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 2609px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-castellar);
}