.web-1920-2-child {
  position: absolute;
  top: 0;
  left: -2px;
  width: 1922px;
  height: 5298px;
}
.group-icon,
.web-1920-2-inner {
  position: absolute;
  top: -110px;
  left: -101px;
  width: 2048px;
  height: 5448px;
}
.group-icon {
  top: 0;
  left: -79px;
  width: 2052px;
  height: 5298px;
}
.web-1920-2-child1 {
  position: absolute;
  top: 108.01px;
  left: 137.12px;
  width: 269.8px;
  height: 340.2px;
}
.liam-rosloot {
  position: absolute;
  top: 212px;
  right: 256px;
  font-size: 130px;
  font-family: var(--font-castellar);
  color: var(--color-gainsboro);
  text-align: left;
  display: inline-block;
  width: 1134px;
}
.icon-akar-arrow-down-thick1 {
  position: absolute;
  height: calc(100% + 15px);
  width: calc(100% + 15px);
  top: -7.5px;
  right: -7.5px;
  bottom: -7.5px;
  left: -7.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-akar-arrow-down-thick {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 482.75px;
  left: 859.75px;
  width: 281.2px;
  height: 281.2px;
}
.hi-there {
  margin: 0;
}
.hi-there-im {
  position: absolute;
  top: 98px;
  left: 716px;
  font-size: var(--font-size-31xl);
  color: var(--color-gainsboro);
  display: inline-block;
  width: 655px;
}
.rectangle-a,
.rectangle-div,
.web-1920-2-child2 {
  position: absolute;
  top: 939px;
  left: 746px;
  border-radius: var(--br-42xl) 0 0 0;
  background-color: var(--color-white);
  width: 834px;
  height: 522px;
  opacity: 0.8;
}
.rectangle-a,
.web-1920-2-child2 {
  top: 1914px;
  left: 583px;
  border-radius: var(--br-42xl) var(--br-66xl) 0 0;
  width: 771px;
  height: 414px;
}
.rectangle-a {
  text-decoration: none;
  top: 2326px;
  left: 211px;
  height: 134px;
  transform: rotate(180deg);
  cursor: pointer;
}
.liam-icon {
  position: absolute;
  top: 764px;
  right: 156px;
  width: 463px;
  height: 697px;
  object-fit: cover;
}
.path-13-icon {
  position: absolute;
  top: 1445.64px;
  right: -68.05px;
  width: 1268.1px;
  height: 30px;
}
.blank-line {
  margin: 0;
  font-size: var(--font-size-4xl);
}
.a-21-year-old-dutch-student {
  margin: 0;
  font-size: var(--font-size-5xl);
}
.click-here-for,
.hi-im-liam-a-container,
.tokyo-glow-neon-light-tokyo-container {
  position: absolute;
  top: 995px;
  left: 846px;
  display: inline-block;
  width: 437px;
  opacity: 0.8;
}
.click-here-for,
.tokyo-glow-neon-light-tokyo-container {
  top: 1975px;
  height: 301px;
}
.click-here-for {
  top: 2378px;
  left: 314px;
  font-size: 40px;
  width: 591px;
  height: 44px;
}
.div,
.icon {
  position: absolute;
  border-radius: var(--br-52xl) var(--br-45xl) 0 0;
}
.div {
  top: 1594px;
  left: 74px;
  width: 672px;
  height: 732px;
  background-image: url(./public/1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.icon {
  top: 1635px;
  left: 135px;
  width: 637px;
  height: 693px;
  object-fit: cover;
}
.path-14-icon {
  position: absolute;
  top: 2313px;
  left: -40.05px;
  width: 1460.2px;
  height: 30px;
}
.web-1920-2 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 5298px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray);
  font-family: var(--font-courier-new);
}
