.the-trip-child {
  position: absolute;
  top: 36.04px;
  left: -80.21px;
  width: 2080.4px;
  height: 2573px;
}
.screenshot-2024-11-05-130308 {
  position: absolute;
  top: 94px;
  left: 66px;
  border-radius: var(--br-31xl);
  width: 920px;
  height: 521px;
  object-fit: cover;
}
.the-trip1 {
  position: absolute;
  top: 390.82px;
  right: 128.89px;
  display: inline-block;
  width: 931px;
  transform: rotate(1deg);
}
.the-trip-inner,
.the-trip-item {
  position: absolute;
  left: 66px;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightgray);
  width: 1781px;
}
.the-trip-item {
  top: 682px;
  height: 1118px;
}
.the-trip-inner {
  bottom: 211px;
  height: 558px;
}
.path-18-icon {
  position: absolute;
  top: 817.39px;
  left: 887.07px;
  width: 10px;
  height: 923.5px;
}
.icon-akar-cross {
  position: absolute;
  top: 43px;
  right: 35.9px;
  width: 112.1px;
  height: 112.1px;
  cursor: pointer;
}
.image-5-icon {
  position: absolute;
  top: 860px;
  left: 115px;
  width: 740px;
  height: 861px;
  object-fit: cover;
}
.image-6-icon {
  top: 851px;
  right: 146px;
  width: 862px;
  height: 875px;
}
.image-6-icon,
.image-7-icon,
.image-8-icon {
  position: absolute;
  object-fit: cover;
}
.image-7-icon {
  top: 704px;
  right: 261px;
  width: 1320px;
  height: 84px;
}
.image-8-icon {
  bottom: 265px;
  left: 319px;
  width: 1282px;
  height: 504px;
}
.the-trip {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 2609px;
  text-align: center;
  font-size: var(--font-size-81xl);
  color: var(--color-darkseagreen);
  font-family: var(--font-castellar);
}