.tokyo-glow-child {
  position: absolute;
  top: 36.46px;
  left: 21px;
  width: 1878px;
  height: 2635.5px;
}
.tokyo-glow-item {
  top: 665px;
  right: 135px;
  width: 960px;
  height: 980px;
}
.rectangle-div,
.tokyo-glow-inner,
.tokyo-glow-item {
  position: absolute;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightgray);
}
.tokyo-glow-inner {
  bottom: 363px;
  left: 189px;
  width: 604px;
  height: 1413px;
}
.rectangle-div {
  right: 258px;
  bottom: 188px;
  width: 914px;
  height: 820px;
}
.icon {
  position: absolute;
  top: 66px;
  left: 42px;
  border-radius: 76px;
  width: 743px;
  height: 809px;
  object-fit: cover;
}
.neon-night {
  margin: 0;
}
.tokyo-glow-neon-night-container {
  position: absolute;
  top: 321.5px;
  right: 235.5px;
  display: inline-block;
  width: 931px;
  transform: rotate(12deg);
}
.path-16-icon {
  position: absolute;
  bottom: 218.22px;
  left: 788.07px;
  width: 10px;
  height: 719.6px;
}
.icon-akar-cross1 {
  position: absolute;
  top: 43px;
  right: 39.9px;
  width: 112.1px;
  height: 112.1px;
  cursor: pointer;
}
.image-1-icon {
  position: absolute;
  top: 713px;
  right: 202px;
  width: 850px;
  height: 884px;
  object-fit: cover;
}
.image-2-icon {
  top: 1341px;
  left: 201px;
  width: 572px;
  height: 861px;
}
.image-2-icon,
.image-3-icon,
.image-4-icon {
  position: absolute;
  object-fit: cover;
}
.image-3-icon {
  top: 927px;
  left: 191px;
  width: 582px;
  height: 414px;
}
.image-4-icon {
  bottom: 229px;
  left: 825px;
  width: 775px;
  height: 737px;
}
.tokyo-glow {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 2672px;
  text-align: center;
  font-size: var(--font-size-81xl);
  color: var(--color-darkseagreen);
  font-family: var(--font-castellar);
}