.click-here-to {
  text-decoration: none;
  position: absolute;
  top: 66px;
  right: 20px;
  font-size: var(--font-size-31xl);
  color: var(--color-darkseagreen);
  text-align: center;
  display: inline-block;
  width: 367px;
  cursor: pointer;
}
.web-1920-1-child {
  position: absolute;
  top: 36px;
  left: 21px;
  width: 1878px;
  height: 2452.2px;
}
.liam-rosloot1 {
  position: absolute;
  top: 254px;
  left: 216px;
  font-size: 180px;
  display: inline-block;
  width: 1751px;
  opacity: 0.09;
}
.icon1 {
  position: absolute;
  top: 66px;
  left: 42px;
  border-radius: 76px;
  width: 743px;
  height: 809px;
  object-fit: cover;
}
.p {
  white-space: pre-wrap;
}
.p,
.public-ghost-ghost {
  margin: 0;
}
.public-ghost-ghost-container {
  position: absolute;
  top: 219px;
  right: 119px;
  font-family: var(--font-courier-new);
  display: inline-block;
  width: 991px;
  height: 823px;
}
.else-ifghosttimestampi-ti-container,
.public-ghost-ghost-container1 {
  position: absolute;
  font-family: var(--font-courier-new);
  display: inline-block;
  width: 810px;
  height: 827px;
}
.public-ghost-ghost-container1 {
  bottom: 232px;
  left: 167px;
}
.else-ifghosttimestampi-ti-container {
  right: 119px;
  bottom: 141px;
}
.recorded-info-about,
.tokyo-glow-neon-night-container {
  position: absolute;
  color: var(--color-darkseagreen);
  text-align: center;
  display: inline-block;
  width: 710px;
}
.tokyo-glow-neon-night-container {
  top: 502.07px;
  right: 117.26px;
  font-size: 70px;
  transform: rotate(1deg);
}
.recorded-info-about {
  top: 891px;
  left: 144.18px;
  font-size: var(--font-size-31xl);
}
.icon-ion-ios-arrow-right {
  position: absolute;
  top: 1020.53px;
  left: 474.84px;
  width: 125.7px;
  height: 36.5px;
}
.path-16-icon {
  position: absolute;
  bottom: 108.62px;
  left: 947.07px;
  width: 10px;
  height: 926.2px;
}
.icon-core-x {
  position: absolute;
  top: 66px;
  right: 128.9px;
  width: 127.1px;
  height: 127.1px;
}
.web-1920-1 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 2126px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gainsboro);
  font-family: var(--font-castellar);
}
