.tokyo-glow-child {
  position: absolute;
  top: 36.46px;
  left: 21px;
  width: 1878px;
  height: 2635.5px;
}
.tokyo-glow-item {
  top: 665px;
  right: 135px;
  width: 960px;
  height: 980px;
}
.rectangle-div,
.tokyo-glow-inner,
.tokyo-glow-item {
  position: absolute;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightgray);
}
.tokyo-glow-inner {
  bottom: 363px;
  left: 189px;
  width: 604px;
  height: 1413px;
}
.rectangle-div {
  right: 258px;
  bottom: 188px;
  width: 914px;
  height: 820px;
}
.icon {
  position: absolute;
  top: 66px;
  left: 42px;
  border-radius: 76px;
  width: 743px;
  height: 809px;
  object-fit: cover;
}
.p {
  white-space: pre-wrap;
}
.p,
.public-ghost-ghost {
  margin: 0;
}
.public-ghost-ghost-container {
  position: absolute;
  top: 813px;
  right: 72px;
  display: inline-block;
  width: 991px;
  height: 823px;
}
.index1-ghosttimestampcount-container,
.public-ghost-ghost-container1 {
  position: absolute;
  bottom: 363px;
  left: 170px;
  display: inline-block;
  width: 573px;
  height: 1116px;
}
.index1-ghosttimestampcount-container {
  bottom: 148px;
  left: 814px;
  width: 810px;
  height: 827px;
}
.recorded-info-about,
.script-for-how,
.tokyo-glow-neon-night-container {
  position: absolute;
  font-family: var(--font-castellar);
  text-align: center;
  display: inline-block;
}
.tokyo-glow-neon-night-container {
  top: 321.5px;
  right: 235.5px;
  font-size: var(--font-size-81xl);
  color: var(--color-darkseagreen);
  width: 931px;
  transform: rotate(12deg);
}
.recorded-info-about,
.script-for-how {
  font-size: var(--font-size-31xl);
}
.recorded-info-about {
  top: 954px;
  left: 202px;
  color: var(--color-gray);
  width: 554px;
}
.script-for-how {
  top: 716.53px;
  right: 250px;
  width: 710px;
}
.path-16-icon {
  position: absolute;
  bottom: 218.22px;
  left: 788.07px;
  width: 10px;
  height: 719.6px;
}
.icon-core-x {
  position: absolute;
  top: 66px;
  right: 128.9px;
  width: 127.1px;
  height: 127.1px;
  cursor: pointer;
}
.tokyo-glow {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 2672px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-courier-new);
}
